@media screen and (min-width:991px) {
    body {

    }
    main {
        width: 750px;
    }
    div#cartao  {
        position: absolute;
        top: 10%;
        left: 77%;
        width: 500px;
        height: 700px;
        
    }
    div#cartao > div#setinhas {
        position:absolute ;
        top: 51%;
        left: 8%;
        display: flex;
        
    }
    div#cartao > div#setinhas > div#seta1 {
        position: relative;
        left: -5px;
    }
    div#cartao > div#setinhas > div#seta2 {
        position: relative;
        right:-5px;
    }
    main > article > form > p > input {
        width: 700px;
    }

    header > h3 {
        margin: 40px;
        text-align: left;
        font-size: 2.7em;
        margin-top: 5px;
    }

    main > article > form > p > input{
        width: 600px;
        height:57px ;
        border-radius: 10px;
        border: none;
        position: relative;
        top: -40px;
    }
    main > article > form > p > input#entrar{
        width:604px ;
        height:57px ;
        font-size: 2em;

    }

    main > article > p > img {
        background-color: white;
        border-radius: 50%;
        height: 60px;
        margin-right:14px;
        position: relative;
        top:500px;
        left: -13%;
    }
    main > article > a.link > p {
    font-size: 1.1em; 
    position: relative; 
    top: 100%;   
    left: -40%; 
    }

    main > article > form {
        position: absolute;
        left:4% ;
        top: 30%;
        padding: 20px;
    }
    
    main > article > p {
        position: relative;
        left: -350px;
        font-size: 1.3em;


    }

    main > article > form > label {
        font-size: 1.3em;
        position: relative;
        top: -40px;
    }
    main > article > a.link {
        position: relative;
        top:50px;
        left:-48%;
        text-decoration: none
    }
    main > article > form > a.link {
        text-decoration: none;
    }
    main > div#cartao > p {
        font-size: 1.8em;
    }

    main > div#cartao > div#minicartao > div#estrela {
        width: 70px;
        height: 70px;
        background-color: #006040;
        position: relative;
        top: -31px;
        left: 96%;
        border-radius: 50%;
    }

    main > div#cartao > div#minicartao > div#estrela > img {
        position: relative;
        top: 13%;
        left: 15%;
    }
    main > div#cartao > h2 {
        font-size: 2.2em;
        position: relative;
        top: -5%;
        text-align: center;
    }

    main > div#cartao > p {
        position: relative;
        top: -12%;
        font-size: 1.2em;
    } 
    main > div#cartao > h3 {
        position: relative;
        top: -14%;
        font-size: 1.4em;
        font-weight: bold;
    }

    main > div#cartao > div#minicartao {
        background-color: aliceblue;
        margin-top: 40px;
        color: black;
        border-radius: 20px;
        padding: 20px;
    }
}